<div class="w-screen h-screen bg-primary-950 flex items-center justify-center">
	<div class="flex flex-col justify-center p-6 shadow-xl bg-card rounded-md shadow-primary-200 border border-gray-400">
		<img src="../../../assets/imgs/Logo-Name.png" class="w-60 mx-auto" alt="Logo" srcset="">

		<div [formGroup]="formLogin" class="flex flex-col gap-5 w-80">
			<mat-form-field>
				<mat-label>Usuario</mat-label>

				<input matInput formControlName="user" required>
				<mat-error *ngIf="formLogin.get('user')?.hasError('required')">
					Debe Ingresar el usuario
				</mat-error>
				<mat-error *ngIf="formLogin.get('user')?.hasError('email')">
					Debe Ingresar un correo valido
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Contraseña</mat-label>

				<input type="password" matInput formControlName="password" required>
				<mat-error *ngIf="formLogin.get('password')?.hasError('required')">
					Debe Ingresar la contraseña
				</mat-error>
			</mat-form-field>

			<button mat-raised-button color="primary" class="bg-red-500">Ingresar</button>
		</div>

	</div>
</div>
